.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.fixed-bottom{
  height:60px;
  padding:.5rem 1rem;
}
.fixed-bottom .container{
  padding-top:.3125rem;
  padding-bottom:.3125rem;
  color:white;
}
.account-navbar{
  padding:1em 0em;
  padding-right:15px;
  padding-left:15px;
}
.material-box-shadow-header{
  box-shadow:0px 2px 4px -1px rgba(0,0,0,0.2),
  0px 4px 5px 0px rgba(0,0,0,0.14), 
  0px 1px 10px 0px rgba(0,0,0,0.12);
}
.material-box-shadow-footer{
  box-shadow:0px -2px 4px -1px rgba(0,0,0,0.2), 
  0px -4px 5px 0px rgba(0,0,0,0.14), 
  0px -1px 10px 0px rgba(0,0,0,0.12);
}
.MuiButton-label-4{
  color:rgba(255,255,255,.5);
  padding-top:0px;
}
.MuiButton-text-5{
  padding-top:3px!important;
}
.no-pad{
  padding-left:0px!important;
  padding-right:0px!important;
}
.paper-inner-container{
  margin-bottom:56px;
}
.paper-subdued-container{
  margin:5em 0em;
}
.paper-subdued-container h1{
  color:#777;
  padding-bottom:1em;
}
.caret{
  font-size:1rem;
  cursor:pointer;
  position:absolute;
  margin-top:.5em;
}
.jumbotron{
  background-image: url(https://home.geointservices.io/images/header-dev.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height:590px;
}
.hero-button button{
  width:100%;
  border:solid 1px white!important;
}
.hero-button{
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:2em;
}
.hero-text{
  color:white;
  margin-top:70px;
  font-size:22px;
}
.MuiTabs-root-49{
  padding: 2em 0em;
  margin-bottom: 2rem;
}
#main-content img{
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.react-swipeable-view-container > div[aria-hidden="false"] {
  height: 100%;
}

.react-swipeable-view-container > div[aria-hidden="true"] {
  height: 0;
}
.no-pad-right{
  padding-right:0px!important;
}
.no-pad-left{
  padding-left:0px!important;
}
.hero-button span{
  color:white;
}
.MuiButton-root-3{
  text-transform:none!important;
}
.navbar-nav .nav-item button{
  border:solid 0px!important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0px!important;
}
.scroll-style{
  bottom: 65px;
  right: 20px;
  position: fixed;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (min-width: 992px){
  .hidden-sm-up{
    display:none;
  }
}
@media only screen and (max-width:768px){
  .paper-inner-container p{
    text-align:center;
  }
  .paper-inner-container img{
    width:40%;
    margin-bottom:1em;
  }
  .no-mobile-pad{
    padding-left:0px!important;
    padding-right:0px!important;
  }
  .subdued-title{
    text-align:center;
  }
  .account-navbar{
    margin-top:5em;
  }
}